@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Raleway');

body , h1 {
	background: white;
	font-family: 'Raleway', sans-serif;
	margin: 20px 50px 20px 50px;
}
h1 {
  	color: #00838A;
 	font-family: 'Playfair Display', serif;
 	font-size: 48px;
 }
 h4 { line-max-height: 300px: 1.5em;
  }

#slogan {
	font-style: italic;
}

header {
	background-color: white;
	border: 1px black solid;
	padding: 20px;
}
nav {
	background-color: white;
	color: white;
	border: 1px;
	padding: 20px;
}

a.hover:hover {
	background-color: #00838A
}

article {
	background-color: white;
	border: 1px;
	padding: 20px;
}
footer {
	background-color: white;
	border: 1px;
	padding: 20px;
}
div {
	background-color: white;
	border: 1px;
	padding: 20px;
}

#column1 img {
	height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
}

#column1 {
	background-color: white;
	border: 1px black solid;
	padding: 20px;
} 

#left {
	background-color: white;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 30%;
}

#right {
	background-color: white;
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 30%;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

#column2 img {
	height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
}

#column2 {
	background-color: white;
	border: 1px black solid;
	padding: 20px;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

#column3 img {
	display: block;
    max-width: 200px;
    max-height: 200px;
    padding: 10px;
}

#column3 {
	background-color: white;
	border: 1px black solid;
	padding: 20px;
}

#column4 img {	
	display: block;
    max-width: 200px;
    max-height: 200px;
    padding: 10px;
}

#column5 {
	background-color: white;
	border: 1px black solid;
	padding: 20px;
}

#column5 img {	
	display: block;
    max-width: 200px;
    max-height: 200px;
    padding: 10px;
}

#column6 {
	background-color: white;
	border: 1px black solid;
	padding: 20px;
}

#column6 img {
	display: block;
    max-width: 200px;
    max-height: 200px;
    padding: 10px;
}

#column7 {
	background-color: white;
	border: 1px black solid;
	padding: 20px;
}

#column7 img {	
	display: block;
    max-width: 200px;
    max-height: 200px;
    padding: 10px;
}

#column8 {
	background-color: white;
	border: 1px black solid;
	padding: 20px;
}

#column8 img {	
	display: block;
    max-width: 200px;
    max-height: 200px;
    padding: 10px;
}

#column9 {
	background-color: white;
	border: 1px black solid;
	padding: 20px;
}

#column9 img {
	display: block;
    max-width: 300px;
    max-height: 200px;
    padding: 10px;
}

