@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Raleway');

body , h1 {
	background: white;
	font-family: 'Raleway', sans-serif;
	margin: 50px 120px 50px 120px;
}

h1 {
  	color: #22C9BB;
 	font-family: 'Playfair Display', serif;
 	font-size: 75px;
 	font-style: bold;
 	letter-spacing: 2px;
 	margin: 10px 120px 10px 120px;
}

h4 {
	line-height: 1.5em;
}

#slogan {
	font-style: italic;
}

header {
	background-color: white;
	border: 1px black solid;
	padding: 20px;
}

nav {
	background-color: white;
	font-family: 'Raleway', sans-serif;
	color: black;
	text-decoration: none;
	text-align: center;
	width: 500px;
	height: 30px;
	padding: 5px;
	float: none;
	margin-right: 3em;
	margin-left: 6em;
}

a {
	background-color: #22C9BB;
	border: 1px black solid;
	padding: 5px;
	padding-left: 5px;
	float: none;
	display: inline-block;
}

a.hover:hover {
	background-color: white;
	text-decoration: none;
	cursor: pointer;
}

article {
	background-color: white;
	border: 1px;
	padding: 20px;
}

.clearfix:after {
	overflow: auto;
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.column {
	float: left;
	width: 25%;
	height: 960px;
	padding: 20px;
	margin: 22px;
}

#column1 img {
	height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
}

#column1 {
	background-color: white;
	border: 1px black solid;
	padding: 20px;
}

#column2 img {
	height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
}

#column2 {
	background-color: white;
	border: 1px black solid;
	padding: 20px;
}

.clearfix:after {
	overflow: auto;
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

#column3 img {
	display: block;
    max-width: 200px;
    max-height: 200px;
    padding: 10px;
}

#column3 {
	background-color: white;
	border: 1px black solid;
	padding: 20px;
}

#column4 img {	
	display: block;
    max-width: 200px;
    max-height: 200px;
    padding: 10px;
}
#column4 {
background-color: white;
	border: 1px black solid;
	padding: 20px;
}

#column5 {
	background-color: white;
	border: 1px black solid;
	padding: 20px;
}

#column5 img {	
	display: block;
    max-width: 200px;
    max-height: 200px;
    padding: 10px;
}

#column6 {
	background-color: white;
	border: 1px black solid;
	padding: 20px;
}

#column6 img {
	display: block;
    max-width: 200px;
    max-height: 200px;
    padding: 10px;
}

#column7 {
	background-color: white;
	border: 1px black solid;
	padding: 20px;
}

#column7 img {	
	display: block;
    max-width: 200px;
    max-height: 200px;
    padding: 10px;
}

#column8 {
	background-color: white;
	border: 1px black solid;
	padding: 20px;
}

#column8 img {	
	display: block;
    max-width: 200px;
    max-height: 200px;
    padding: 10px;
}

#column9 {
	background-color: white;
	border: 1px black solid;
	padding: 20px;
}

#column9 img {
	display: block;
    max-width: 300px;
    max-height: 200px;
    padding: 10px;
}

footer {
	background-color: white;
	border: 1px;
	padding: 20px;
}



