@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Raleway');

* {
  margin: 0;
  padding: 0;
}

body {
	background: white;
	font-family: 'Raleway', sans-serif;
	margin: 30px 120px 30px 120px;
	padding: 20px;
	border: 1px black solid;
}

header {
	padding: 5px;
	background-color: white;
}

#logo {
	height: auto;
	max-width: 100%;
    align-items: center;
}

h1 {
  	color: #22C9BB;
 	font-family: 'Playfair Display', serif;
 	font-size: 75px;
 	font-size: 6em;
 	font-style: bold;
 	letter-spacing: 2px;
 	max-width: 100%;
}

h2 {
	font-size: 20px;

}

nav ul {
	list-style: none;
	font-size: 18px;
	-webkit-appearance:none;
}

h3 ul {
	list-style: none;
	line-height: 150%;
	font-size: 18px;
	padding: 10px;
}

h4 {
	line-height: 150%;
	padding: 10px;
}

h5 {
	font-size: 20px;
	margin: 25px 0 10px 0;
}

h6 {
	font-size: 18px;
	margin: 10px 0;
}

#slogan {
	font-size: 18px;
	font-style: italic;
	padding: 5px;
}

nav {
	background-color: #9AF2E6;
	font-family: 'Raleway', sans-serif;
	color: black;
	text-decoration: none;
	text-align: center;
	padding: 5px 5px 5px 5px;
	border: 1px black solid;
	margin-top: 5px;
}

a {
	background-color: #9AF2E6;
	color: black;
	font-size: 20px;
	text-decoration: none;
	border: 1px black solid;
	padding: 20px;
	float: none;
	display: inline-block;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

a.hover {
	margin: 10px;
}

a.hover:hover {
	background-color: #22C9BB;
	text-decoration: none;
	cursor: pointer;
	padding: 15px;
}

article {
	background-color: white;
	border: 1px;
	padding: 20px;
}

.clearfix:after {
	overflow: auto;
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.collection {
	padding: 10px;
}

.clearfix:after {
	overflow: auto;
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.column {
	float: left;
	width:28%;
	height: auto;
	padding: 10px;
	margin: 10px;
}

#column1 img {
	height: auto; 
    max-width: 100%;
    padding: 10px;
}

#column1 {
	background-color: white;
	padding: 20px;
	height: auto;
}

.clearfix:after {
	overflow: auto;
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

#column2 img {
	display: block;
	height: auto; 
    max-width: 100%;
    padding: 10px;
}

#column2 {
	background-color: white;
	padding: 20px;
	height: auto;
}

.clearfix:after {
	overflow: auto;
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

#column3 img {
	display: block;
    height: auto;
    max-width: 100%;
    padding: 10px;
}

#column3 {
	background-color: white;
	padding: 20px;
	height: auto;
}

.clearfix:after {
	overflow: auto;
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

#column4 img {	
	display: block;
    height: auto;
    max-width: 100%;
    padding: 10px;
}
#column4 {
	background-color: white;
	padding: 20px;
	height: auto;
}

.clearfix:after {
	overflow: auto;
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

#column5 {
	background-color: white;
	padding: 20px;
	height: auto;
}

#column5 img {	
	display: block;
    height: auto;
    max-width: 100%;
    padding: 10px;
}

.clearfix:after {
	overflow: auto;
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

#column6 {
	background-color: white;
	padding: 20px;
	height: auto;
}

#column6 img {
	display: block;
    height: auto;
    max-width: 100%;
    padding: 10px;
}

.clearfix:after {
	overflow: auto;
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

#column7 {
	background-color: white;
	padding: 20px;
	height: auto;
}

#column7 img {	
	display: block;
    height: auto;
    max-width: 100%;
    padding: 10px;
}

.clearfix:after {
	overflow: auto;
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

#column8 {
	background-color: white;
	padding: 20px;
	height: auto;
}

#column8 img {	
	display: block;
    height: auto;
    max-width: 100%;
    padding: 10px;
}

.clearfix:after {
	overflow: auto;
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

#column9 {
	background-color: white;
	padding: 20px;
	height: auto;
}

#column9 img {
	display: block;
    height: auto;
    max-width: 100%;
    padding: 10px;
}

.clearfix:after {
	overflow: auto;
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

#footer {
	background-color: #9AF2E6;
	border: 1px black solid;
	max-width: 100%;
	padding: 15px;
}

#footer h4 {
	display: inline-block;
}
.social {
	float: right;
	padding-left: 500px;
	padding-right: 5px;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}


.fa {
  padding: 20px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  display: inline-block;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-tumblr {
  background: #2c4762;
  color: white;
}

#copyright {
	padding-bottom: 10px;
	padding-left: 10px
}


